<!DOCTYPE html><html><head>
    <title>Rimmel_Banner_Circular_reveal</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="bolierplate banner">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ad.size" content="width=300,height=250">
    <link rel="stylesheet" inline="" href="css/main.css">

    <script>
        document.write('<script src="' + (window.API_URL || 'https://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js?bv=' + Math.random()) + '"><\/script>');
    </script>

    <script id="adServerTag"></script>
</head>

<body>
    <div id="mainContent">

        <!-- EndFrame -->
        <img src="img/product.png" id="product">
        <img src="img/endCopy.svg" id="endCopy">
        <img src="img/cta.svg" id="cta">

        <!-- Frame Three -->
        <svg id="frameThree">
          <defs>
            <clipPath id="clipCircle">
              <circle cx="300" cy="250" r="400" />
            </clipPath>    
            <clipPath id="clipArc">
              <path id="arcPath" d="M -50 125 a 200 200 0 1 0 400 0 a 200 200 0 1 0 -400 0z" />
            </clipPath>
          </defs>
          
          <g clip-path="url(#clipCircle)">
            <image x="0" y="0" width="300" height="250" xlink:href="img/frameFour.png" />  
            <image x="0" y="0" width="300" height="250" xlink:href="img/frameThree.png" clip-path="url(#clipArc)" />
          </g>
          
        </svg>
        
        <!-- Frame Two -->
        <img src="img/frameTwo.png" id="frameTwo">
        
        <!-- Frame One -->
        <img src="img/copyOne.svg" id="copyOne">
        <div id="plashContainer"></div>

        
        <img src="img/rimmelLogo.png" id="rimmelLogo">

        <!-- clicktag -->
        <div id="bgExit"></div>

    </div>

    <script>
        var clickArea = document.getElementById('bgExit');
        clickTAGvalue = dhtml.getVar('clickTAG', 'http://support.adform.com/documentation/coty-manuals/building-banners-for-use-in-adform/adding-clicktag-s-to-banners/');

        landingpagetarget = dhtml.getVar('landingPageTarget', '_blank');
        clickArea.addEventListener('click', function(e) {
            e.preventDefault();
            window.open(clickTAGvalue, landingpagetarget);
        });
    </script>

    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.19.0_643d6911392a3398cb1607993edabfa7_min.js"></script>

    <script>"use strict";~function(){function e(){n.setAttribute("d",t(s.cx,s.cy,s.r,s.start,s.end))}function t(e,t,a,n,s){var i=s-n;if(360===i)return"M "+(e-a)+" "+t+" a "+a+" "+a+" 0 1 0 "+2*a+" 0 a "+a+" "+a+" 0 1 0 "+2*-a+" 0z";var c=i>180?1:0;return n=n*o-r,s=s*o-r,"M "+(e+a*Math.cos(s))+" "+(t+a*Math.sin(s))+" A "+a+" "+a+" 0 "+c+" 0 "+(e+a*Math.cos(n))+" "+(t+a*Math.sin(n))+" L "+e+" "+t+"z"}TweenMax;var a=Ease.sineOut,n=document.querySelector("#arcPath"),o=Math.PI/180,r=Math.PI/2,s={start:0,end:360,cx:150,cy:125,r:200},i=document.getElementById("mainContent");window.init=function(){for(var t=1;t<7;t++){var n=document.createElement("img"),o="img/colourPlash"+t+".png";n.src=o,n.className="plash",plashContainer.appendChild(n)}(new TimelineMax).set(i,{perspective:1e3,force3D:!0}).staggerTo(".plash",.2,{opacity:1,scale:1,ease:a},.1).to(["#copyOne","#plashContainer"],.7,{x:-300,ease:a},"+=2").to("#frameTwo",.7,{x:-300,ease:a},"+=1").to(s,1.5,{end:0,ease:Linear.easeNone,onUpdate:e},"+=1").to("#frameThree",.7,{x:-300,ease:a},"+=1")}}(),window.onload=init();</script>



</body></html>