html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #ab182d;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent img, #mainContent div {
    position: absolute; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#copyOne {
  width: 300px;
  height: 250px;
  background: #ab182d; }

#rimmelLogo {
  top: 7px;
  right: 6px; }

.plash {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  opacity: 0; }
  .plash:nth-child(1) {
    left: 166px;
    top: 82px; }
  .plash:nth-child(2) {
    left: 113px;
    top: 134px; }
  .plash:nth-child(3) {
    left: 91px;
    top: 16px; }
  .plash:nth-child(4) {
    left: 52px;
    top: 56px; }
  .plash:nth-child(5) {
    left: 2px;
    top: 45px; }
  .plash:nth-child(6) {
    left: 142px;
    top: 194px; }

#product {
  right: -1px;
  bottom: 7px; }

#endCopy {
  top: 59px;
  left: 9px; }

#cta {
  left: 25px;
  top: 173px; }

#bgExit {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
