<!DOCTYPE html><html><head>
    <title>Rimmel_Banner_Circular_reveal</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="bolierplate banner">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ad.size" content="width=300,height=250">
    <link rel="stylesheet" inline="" href="css/main.css">

    <script>
        document.write('<script src="' + (window.API_URL || 'https://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js?bv=' + Math.random()) + '"><\/script>');
    </script>

    <script id="adServerTag"></script>
</head>

<body>
    <div id="mainContent">

        <!-- EndFrame -->
        <img src="img/product.png" id="product">
        <img src="img/endCopy.svg" id="endCopy">
        <img src="img/cta.svg" id="cta">

        <!-- Frame Three -->
        <svg id="frameThree">
          <defs>
            <clipPath id="clipCircle">
              <circle cx="300" cy="250" r="400" />
            </clipPath>    
            <clipPath id="clipArc">
              <path id="arcPath" d="M -50 125 a 200 200 0 1 0 400 0 a 200 200 0 1 0 -400 0z" />
            </clipPath>
          </defs>
          
          <g clip-path="url(#clipCircle)">
            <image x="0" y="0" width="300" height="250" xlink:href="img/frameFour.png" />  
            <image x="0" y="0" width="300" height="250" xlink:href="img/frameThree.png" clip-path="url(#clipArc)" />
          </g>
          
        </svg>
        
        <!-- Frame Two -->
        <img src="img/frameTwo.png" id="frameTwo">
        
        <!-- Frame One -->
        <img src="img/copyOne.svg" id="copyOne">
        <div id="plashContainer"></div>

        
        <img src="img/rimmelLogo.png" id="rimmelLogo">

        <!-- clicktag -->
        <div id="bgExit"></div>

    </div>

    <script>
        var clickArea = document.getElementById('bgExit');
        clickTAGvalue = dhtml.getVar('clickTAG', 'http://support.adform.com/documentation/coty-manuals/building-banners-for-use-in-adform/adding-clicktag-s-to-banners/');

        landingpagetarget = dhtml.getVar('landingPageTarget', '_blank');
        clickArea.addEventListener('click', function(e) {
            e.preventDefault();
            window.open(clickTAGvalue, landingpagetarget);
        });
    </script>

    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.19.0_643d6911392a3398cb1607993edabfa7_min.js"></script>

    <!-- build:js js/main.js inline -->
    <script id="animationTag" inline="" src="js/animation.js"></script>
    <script src="js/adservers.js" inline=""></script>
    <!-- endbuild -->



</body></html>